In [3]:
import pandas as p

df = p.read_csv('music.csv')
df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [2]:
df.describe

<bound method NDFrame.describe of     age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical>

In [4]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [35]:
import pandas as p
from sklearn.tree import DecisionTreeClassifier 

df = p.read_csv('music.csv')

#X=df[['age','gender']]
X = df.drop(columns='genre')
y = df['genre']

model = DecisionTreeClassifier()
model.fit(X.values,y)
prediction = model.predict([[21,1]])

for p in prediction:
    print(p)

HipHop

In [10]:
import pandas as p
from sklearn.tree import DecisionTreeClassifier as Dtc

music_data = p.read_csv('music.csv') #returns dataframe
X = music_data.drop(columns=['genre','gender'])
y = music_data['genre']

model= Dtc()
model.fit(X.values,y)
prediction = model.predict([[23]])
prediction

array(['HipHop'], dtype=object)

In [25]:
import pandas as p
from sklearn.tree import DecisionTreeClassifier as Dtc
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

music_data = p.read_csv('music.csv') #returns dataframe
X = music_data.drop(columns=['genre'])
y = music_data['genre']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
model= Dtc()
model.fit(X_train,y_train)
prediction = model.predict(X_test)
prediction
accuracy_score(prediction, y_test)

1.0

In [26]:
prediction

array(['HipHop', 'Jazz', 'HipHop', 'Jazz'], dtype=object)

In [30]:
import pandas as p
from sklearn.tree import DecisionTreeClassifier
import joblib

music_data = p.read_csv('music.csv') #returns dataframe
X = music_data.drop(columns=['genre'])
y = music_data['genre']

model = DecisionTreeClassifier()
model.fit(X,y)
joblib.dump(model, 'music_recommender.joblib') #saving the trained model

['music_recommender.joblib']

In [32]:
import joblib


model = joblib.load('music_recommender.joblib')
model.predict([[22,1]])

C:\Users\dipba\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop'], dtype=object)